*{
    box-sizing: border-box;
  }
  #container{
    width: 1200px;
    margin: 0 auto;
    padding-right: 10px;
  
  }
  .img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: none;
  }
  .visibile{
    display: block;
  }
  #bottoni{
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .bottone_sx, .bottone_dx{
    color: red;
    margin: 10px;
  }
  .testo_a_destra{
    color: white;
    text-align: right;
    position: relative;
    bottom:8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: none;
  }